{:triboar [{:name        "Foehammer's Forge"
            :description "The finest weapons and armor. Apprentice wanted."
            :category    "Shopping"
            :style       {:top 145 :left 251}
            :items       [{:name        "Padded Armor"
                           :description "light armor (armor)"
                           :attributes  {"AC"          11
                                         "Category"    "Items"
                                         "Item Rarity" "Standard"
                                         "Stealth"     "Disadvantage"
                                         "Weight"      8}}

                          {:name        "Hide Armor"
                           :description "medium armor (armor)"
                           :attributes  {"AC"          12
                                         "Category"    "Items"
                                         "Item Rarity" "Standard"
                                         "Stealth"     "Disadvantage"
                                         "Weight"      12}}

                          {:name        "Plate Armor"
                           :description "medium armor (armor)"
                           :attributes  {"AC"          18
                                         "Category"    "Items"
                                         "Item Rarity" "Standard"
                                         "Stealth"     "Disadvantage"
                                         "Weight"      65}}]}

           {:name        "Uldinath's Arms"
            :description "The finest weapons and armor."
            :category    "Shopping"
            :style       {:top 326 :left 275}
            :items       [{:name        "Wand Of Magic Detection"
                           :description "adventuring gear (wand)"
                           :attributes  {"Category"    "Items"
                                         "Item Rarity" "Uncommon"
                                         "Weight"      1}}]}

           {:name        "Everwyvern House"
            :description "Your palace away from palace. Luxury suites. Private gardens. Excellent company."
            :category    "Lodging"
            :style       {:top 643 :left 391}
            :items       [{:name        "Honeymoon Suite"
                           :description "Include chilled champagne on arrival, fresh flowers in your room, and delicious chocolates or strawberries..."
                           :attributes  {"Price"      "20gp"}}]}]}